<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libs-and-load-data" data-toc-modified-id="Import-libs-and-load-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libs and load data</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Split-data-columns-by-comma" data-toc-modified-id="Split-data-columns-by-comma-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Split data columns by comma</a></span></li></ul></li><li><span><a href="#Sampling-data" data-toc-modified-id="Sampling-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sampling data</a></span><ul class="toc-item"><li><span><a href="#Method-1-for-sampling" data-toc-modified-id="Method-1-for-sampling-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Method 1 for sampling</a></span></li><li><span><a href="#Method-2-for-sampling" data-toc-modified-id="Method-2-for-sampling-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Method 2 for sampling</a></span></li></ul></li><li><span><a href="#Get-partitions" data-toc-modified-id="Get-partitions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Get partitions</a></span></li><li><span><a href="#Reparation" data-toc-modified-id="Reparation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reparation</a></span></li><li><span><a href="#zipWithIndex" data-toc-modified-id="zipWithIndex-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>zipWithIndex</a></span><ul class="toc-item"><li><span><a href="#View-row-with-index" data-toc-modified-id="View-row-with-index-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>View row with index</a></span></li><li><span><a href="#Remove-header" data-toc-modified-id="Remove-header-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Remove header</a></span></li></ul></li><li><span><a href="#Group-by-(reduceByKey)" data-toc-modified-id="Group-by-(reduceByKey)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Group by (reduceByKey)</a></span></li><li><span><a href="#Join" data-toc-modified-id="Join-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Join</a></span></li><li><span><a href="#Union" data-toc-modified-id="Union-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Union</a></span></li></ul></div>

# Spark RDD HW1
                       by Mike

## Import libs and load data

In [1]:
from pyspark import sql, SparkContext, SparkConf

In [2]:
# using this to build rdd or the second method
scc = sql.SparkSession.builder.appName('Rdd1')\
                    .config('spark.executer.memory','9g').getOrCreate()
sc = scc.sparkContext

In [2]:
# or using this method

# The first thing a Spark program must do is to create a SparkContext object, 
# which tells Spark how to access a cluster. To create a SparkContext you first
# need to build a SparkConf object that contains information about your 
# application.
appName = 'HW_1'
master = 'local'
conf = SparkConf().setAppName(appName).setMaster(master)
sc = SparkContext(conf=conf)

In [7]:
# run this if restart needed
sc.stop()

### Load data
Load the departure delays file and split it by comma (,). Call it flights.

In [3]:
departuredelays = sc.textFile('data/departuredelays.csv')

### Split data columns by comma

In [4]:
flights = departuredelays.map(lambda x: x.split(','))

In [5]:
flights.take(3)

[['date', 'delay', 'distance', 'origin', 'destination'],
 ['01011245', '6', '602', 'ABE', 'ATL'],
 ['01020600', '-8', '369', 'ABE', 'DTW']]

## Sampling data
Provide a sample based on 0.001% the flights RDD data specific to the fourth column (origin city of flight) without replacement (False) using random seed of 123

### Method 1 for sampling

In [6]:
flights.sample(False, 0.00001, 123).collect()

[['01311915', '0', '279', 'ATL', 'SDF'],
 ['01101400', '25', '778', 'DEN', 'MDW'],
 ['01032040', '51', '245', 'DFW', 'LBB'],
 ['01011403', '28', '1192', 'DFW', 'EWR'],
 ['01101404', '4', '546', 'MCI', 'DTW'],
 ['01091755', '28', '1086', 'ORD', 'SLC'],
 ['02191325', '-6', '650', 'BIL', 'MSP'],
 ['02251220', '10', '504', 'DAL', 'ABQ'],
 ['02061630', '-4', '943', 'DAY', 'DEN'],
 ['02181246', '-1', '111', 'IAH', 'LCH'],
 ['02101034', '-2', '1953', 'JFK', 'LAS'],
 ['02180707', '3', '274', 'ORD', 'CLE'],
 ['02201155', '-5', '214', 'SAT', 'DFW'],
 ['03091850', '-3', '822', 'BOS', 'ATL'],
 ['03211450', '0', '922', 'DFW', 'RDU'],
 ['03251045', '-3', '789', 'SEA', 'SBA'],
 ['03301330', '-6', '293', 'SFO', 'LAX']]

### Method 2 for sampling

In [7]:
sampleN = round(flights.count()*0.00001)
sampleN

14

In [8]:
flights.takeSample(False, sampleN, 123)

[['03211450', '0', '922', 'DFW', 'RDU'],
 ['03301500', '-6', '389', 'MSP', 'STL'],
 ['02251220', '10', '504', 'DAL', 'ABQ'],
 ['02041345', '26', '260', 'ORD', 'DSM'],
 ['03100600', '-4', '477', 'BDL', 'DTW'],
 ['03082025', '-19', '710', 'BUR', 'PDX'],
 ['01101404', '4', '546', 'MCI', 'DTW'],
 ['02191325', '-6', '650', 'BIL', 'MSP'],
 ['01241640', '183', '1511', 'ORD', 'PDX'],
 ['02120835', '2', '297', 'SJC', 'SNA'],
 ['02181246', '-1', '111', 'IAH', 'LCH'],
 ['02061630', '-4', '943', 'DAY', 'DEN'],
 ['01191615', '3', '678', 'ATL', 'HPN'],
 ['03200830', '31', '2151', 'LAX', 'JFK']]

**Why these two methods return different results?**

In [11]:
flights.map(lambda x: x[3]).takeSample(False, sampleN, 123)

['DFW',
 'MSP',
 'DAL',
 'ORD',
 'BDL',
 'BUR',
 'MCI',
 'BIL',
 'ORD',
 'SJC',
 'IAH',
 'DAY',
 'ATL',
 'LAX']

## Get partitions
Get number of partitions for flights

In [14]:
flights.getNumPartitions()

1

## Reparation 
Reparation flights into 8 partition

In [15]:
flights_repart = flights.repartition(8)

In [17]:
flights_repart.getNumPartitions()

8

## zipWithIndex

### View row with index
View each row within RDD plus its index. (hint: use zipWithIndex)

In [19]:
flights_idx = flights.zipWithIndex()
flights_idx.take(10)

[(['date', 'delay', 'distance', 'origin', 'destination'], 0),
 (['01011245', '6', '602', 'ABE', 'ATL'], 1),
 (['01020600', '-8', '369', 'ABE', 'DTW'], 2),
 (['01021245', '-2', '602', 'ABE', 'ATL'], 3),
 (['01020605', '-4', '602', 'ABE', 'ATL'], 4),
 (['01031245', '-4', '602', 'ABE', 'ATL'], 5),
 (['01030605', '0', '602', 'ABE', 'ATL'], 6),
 (['01041243', '10', '602', 'ABE', 'ATL'], 7),
 (['01040605', '28', '602', 'ABE', 'ATL'], 8),
 (['01051245', '88', '602', 'ABE', 'ATL'], 9)]

### Remove header
Come up with a way to remove the header row in your Rdd (again ZipWithIndex is helpful)

In [20]:
flights_idx.filter(lambda x: x[1] > 0).take(10)

[(['01011245', '6', '602', 'ABE', 'ATL'], 1),
 (['01020600', '-8', '369', 'ABE', 'DTW'], 2),
 (['01021245', '-2', '602', 'ABE', 'ATL'], 3),
 (['01020605', '-4', '602', 'ABE', 'ATL'], 4),
 (['01031245', '-4', '602', 'ABE', 'ATL'], 5),
 (['01030605', '0', '602', 'ABE', 'ATL'], 6),
 (['01041243', '10', '602', 'ABE', 'ATL'], 7),
 (['01040605', '28', '602', 'ABE', 'ATL'], 8),
 (['01051245', '88', '602', 'ABE', 'ATL'], 9),
 (['01050605', '9', '602', 'ABE', 'ATL'], 10)]

## Group by (reduceByKey) 
Determine delays by originating city and sort the cities (hint: reduceByKey)

In [21]:
# https://blog.csdn.net/zongzhiyuan/article/details/49965021
delay_origin = flights_idx.filter(lambda x: x[1] > 0)\
        .map(lambda row: [row[0][3], int(row[0][1])])\
        .reduceByKey(lambda x, y: x+y).sortByKey()

In [22]:
delay_origin.take(10)

[('ABE', 5113),
 ('ABI', 5128),
 ('ABQ', 64422),
 ('ABY', 1554),
 ('ACT', 392),
 ('ACV', 8429),
 ('ADQ', -254),
 ('AEX', 10193),
 ('AGS', 5003),
 ('ALB', 22362)]

## Join
Execute inner join between flights data and airport codes from our session call the dataset Joined_data

In [23]:
airportCodesNA = sc.textFile('data/airport-codes-na.txt')

In [24]:
airportCodesNA = airportCodesNA.map(lambda element: element.split('\t'))
airportCodesNA.take(10)

[['City', 'State', 'Country', 'IATA'],
 ['Abbotsford', 'BC', 'Canada', 'YXX'],
 ['Aberdeen', 'SD', 'USA', 'ABR'],
 ['Abilene', 'TX', 'USA', 'ABI'],
 ['Akron', 'OH', 'USA', 'CAK'],
 ['Alamosa', 'CO', 'USA', 'ALS'],
 ['Albany', 'GA', 'USA', 'ABY'],
 ['Albany', 'NY', 'USA', 'ALB'],
 ['Albuquerque', 'NM', 'USA', 'ABQ'],
 ['Alexandria', 'LA', 'USA', 'AEX']]

In [25]:
# df method
# https://spark.apache.org/docs/latest/api/python/pyspark.sql.html?highlight=join
# https://www.tutorialspoint.com/pyspark/pyspark_rdd.htm
# df1 = spark.createDataFrame(airportCodesNA, schema=['City', 'State', 'Country', 'origin'])
# df2 = spark.createDataFrame(flights, schema=['date', 'delay', 'distance', 'IATA', 'destination'])
# Joined_data = df1.join(df2, df2.IATA == df1.origin, 'inner')

In [26]:
# Simple Join by keys
d1 = flights.map(lambda row: (row[3], row[:2]))
d2 = airportCodesNA.map(lambda row: (row[3], row[:2]))

In [27]:
joined_data = d1.join(d2)
joined_data.take(5)

[('ABE', (['01011245', '6'], ['Allentown', 'PA'])),
 ('ABE', (['01020600', '-8'], ['Allentown', 'PA'])),
 ('ABE', (['01021245', '-2'], ['Allentown', 'PA'])),
 ('ABE', (['01020605', '-4'], ['Allentown', 'PA'])),
 ('ABE', (['01031245', '-4'], ['Allentown', 'PA']))]

## Union
In the joined_data filter all the rows from “WA” state and separately filter all the rows from “BC” states and union them together.

In [28]:
a = joined_data.filter(lambda row: row[1][1][1] == 'WA')
b = joined_data.filter(lambda row: row[1][1][1] == 'BC')
union_ab = a.union(b)

In [29]:
union_ab.take(10)

[('SEA', (['01011425', '92'], ['Seattle', 'WA'])),
 ('SEA', (['01010715', '-7'], ['Seattle', 'WA'])),
 ('SEA', (['01010830', '-5'], ['Seattle', 'WA'])),
 ('SEA', (['01012205', '-3'], ['Seattle', 'WA'])),
 ('SEA', (['01010600', '-3'], ['Seattle', 'WA'])),
 ('SEA', (['01012320', '1'], ['Seattle', 'WA'])),
 ('SEA', (['01010820', '-10'], ['Seattle', 'WA'])),
 ('SEA', (['01010710', '-6'], ['Seattle', 'WA'])),
 ('SEA', (['01011115', '-2'], ['Seattle', 'WA'])),
 ('SEA', (['01011205', '-3'], ['Seattle', 'WA']))]